/* FUENTE*/

/* configuracion general */
*{
	margin:0px;
	padding: 0px;

}
a{
    text-decoration: none;
}
header{
    background-color: whitesmoke;   
    /* border-bottom: 2px solid darkgray;     */
}
.cabecera{
    padding: 5px;
}
.sombra{
    position: relative;
}
header::after{
    content: ".";
    color: rgba(0, 0, 0, 0.4);
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: -10;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.4);
}
.cabecera{  
    display: grid;
    grid-template-rows: 1fr auto;   
    text-align: center;    
}
.imagenes{
    grid-row: 1/2;
    height: 15vh;  
    display: grid;  
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.tecnm{
    height: 100%;
    grid-column: 6/8;    
}
.tecnm-gris{
    grid-column: 1/5;
    height: 100%;
}
.ittepic{
    grid-column: 11/12;
    height: 80%;
}
.slogan{    
    grid-row: 2/3;
    
}

/* general */
.general{
    margin-top: 1%;
}

/* PARA LOS MENUS */
.menuL,.menuR{
    background-color: whitesmoke  ; 
   
    border-radius: 4px;
    border: 1px solid black;        
    width: 95%;   
    padding: 5px;
    /* STICKY */
    height: 80vh;
    overflow: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.menuL{
     box-shadow: 2px  2px 4px 2px rgba(0, 0, 0, .7);
}
.menuR{
     box-shadow: -2px  2px 4px 2px rgba(0, 0, 0, .7);
}
.menu-item {
    text-decoration: none; 
    text-align: left;
    border-bottom: 1px solid #ccc;

    color: black;   
    padding: 5px;    
    display: block;
    transition: all 0.5s ease-out;    
    /* margin-top: 3px; */
    /* box-shadow: 0px 0px 0px rgb(27,57,106) inset; 
    border-left: 4px solid rgb(27,57,106); */
}
.menu-item:hover,.opciones:hover .accordion,.accordion:hover{
    cursor: pointer; 
    background-color:  rgb(27,57,106); 
    color: white;
    padding: 10px;   
}
.opciones:hover .active::after{
    color: white;
}
.accordion:hover::after{
    color: white;
}
.submenu{
    list-style: none;
    padding: 0px;
    margin: 0px;
    background-color: #DDDADA;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}
.submenu >li{
    padding: 5px;    
    /* width: 90%; */
    margin: auto;
    border-bottom: 1px solid #ccc;
    transition: all 1s ease;
    box-shadow: 0px 0px 0px darkorange inset; 
    /* box-shadow: -4px 0px 0px darkorange inset,4px 0px 0px darkorange inset; */
    /* border-top: 4px solid darkorange; */
}
.submenu > li:hover{
    /* background-color: darkorange; */
    box-shadow: 0px 50px 0px darkorange inset; 
    /* box-shadow: 130px 0px 0px darkorange inset,-120px 0px 0px darkorange inset; */
   
    padding: 10px;    
    cursor:pointer;
}
.submenu > li:hover a{
    color: white;
}
.submenu >li >a{
    text-decoration: none;
    color: black;
}
.accordion::after {
    content: '\025b6';
    color: black;
    font-weight: bold;
    float: right;
    margin-right: 5%;
    transition: transform 0.5s 0.2s ease,
     color 0.5s 0.2s ease-out;
}
.active::after {
    transform: rotate(90deg);
}
/* >>>>>>>>>>>>>>>>>>> */
.contenido div{
    border: solid lightgray 0px;
    margin: 1%;
}

/* >>>>>>>>>>>>>>>>>>> */

.pie{
    margin-top: 2%;
    background: linear-gradient(to bottom, #f9f9f9 0px, #e9e9e9 100%);
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    text-align: center;    
    padding: 10px;
    justify-content: center;
    align-items: center;
    
}