@font-face {
    font-family: Soberana-Texto-Regular;
    src: url(../fuente/SoberanaTexto-Regular.otf);           
}
@font-face {
    font-family: Soberana-Condensed-bold;
    src: url(../fuente/soberanasanscondensed_bold.otf);           
}
.reportes{
    width: 100%;
    padding: 15px;
}
.reportes p, label{
    font-family:"Soberana-Texto-Regular";	
}
.reportes label{
    font-size: 1.3em;
}
.reportes h3, .reportes h2{
    font-family:"Soberana-Condensed-bold";
    font-size: 2em;
}
.select{
    width: 25%;
}
#reporte{
    position: relative;
}
.boton{
    position: absolute;
    left: 40%;
}
.lista{
    padding: 10px;    
}
.reportes hr{
    padding: 0px;
    margin:0px;
    margin-left: 5%;
}
.alumnos{
    margin-left: 10%;
}
